.App {
  height: 100vh;
  overflow: scroll;
  background-image: url(./assets/bg-body.webp);
  background-position: center;
  background-size: cover;
}

a.nav-link {
  padding: 0.8rem;
  font-size: 1.3rem;
}

.profile {
  display: none !important;
}

@media (max-width: 992px) {
  .dropdown {
    display: none !important;
  }
  .profile {
    display: block !important;
  }
}
